/* CSS Document */
@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'RockwellRegular';
  src: url('../fonts/rockwell-webfont.eot');
  src: url('../fonts/rockwell-webfont.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/rockwell-webfont.woff') format('woff');
  src: url('../fonts/rockwell-webfont.ttf') format('truetype');
  src: url('../fonts/rockwell-webfont.svg#RockwellRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.textarea-sendquote-form {
  width: 57% !important;
  border: '1px solid:#000000';
}

.contact {
  width: '100%';
  text-align: 'center';
}

.formErrMsg {
  font-size: 12px;
  color: #cc0000;
}

.contact .lines {
  width: 100%;
  float: left;
  padding: 8px 0 6px 0;
  background: url('../images/dash.gif') repeat-x bottom;
}

.contact h1 {
  font-size: 32px;
  line-height: 50px;
  padding: 0;
  margin: 0;
  color: #ffffff;
}

.contact h1 .small {
  font-size: 22px;
}

.contact .contactform {
  width: 914px;
  float: left;
  padding: 17px;
  background: #002863;
  border: 1px solid #000000;
  margin-top: 15px;
}

.contact .contactform  .left1  .row {
  width: 131px;
  float: left;
  padding: 11px  0px 11px 0px;
}

.contact .contactform .left1 {
  width: 131px;
  float: left;
  background: #cc0000;
}

.contact .contactform .right1 {
  width: 561px;
  float: right;
  background: url('images/area.gif') no-repeat;
  height: 109px;
  margin-top: 11px;
}

.contact .contactform .left1 .row .inputtext {
  width: 331px;
  float: left;
  background: url('../images/youremail.gif') no-repeat;
  height: 42px;
}

.contact .contactform .left1 .row .inputtext  input[type="text"] {
  width: 300px;
  margin: 10px 0 0 15px;
  background: none;
  border: 0;
  font-style: italic;
}

.contact .contactform .right1 textarea {
  width: 535px;
  float: left;
  background: url('../images/area.gif') no-repeat;
  height: 87px;
  margin: 10px 0 0 15px;
  background: none;
  border: 0;
  font-style: italic;
}

.contact .contactform .row {
  width: 914px;
  float: left;
  padding: 11px  0px 11px 0px;
}

.contactform .small-cell {
  float: left;
  width: auto;
  padding: 0 20px 0 24px;
  line-height: 20px;
}

.contactform .m {
  background: url('../images/message.gif') no-repeat;
}

.contactform .s {
  background: url('../images/skype.gif') no-repeat;
}

.contactform .g {
  background: url('../images/gmail.gif') no-repeat;
}

.contact .contactform   input[type="submit"] {
  background: url('../images/sb.gif') no-repeat;
  width: 97px;
  height: 37px;
  float: right;
  border: 0;
  cursor: pointer;
  border: 0;
  text-indent: -999em;
}

.contact .contactform   input[type="submit"]:hover {
  background: url('../images/sb.gif') no-repeat bottom;
}
